<div *ngIf="currentArticle.id">
  <h4>Article</h4>

  <div>
    <label><strong>Title:</strong></label>
    {{ currentArticle.title }}
  </div>

  <div>
    <label><strong>Description:</strong></label>
    {{ currentArticle.description }}
  </div>

  <!-- Ajoutez ceci pour afficher l'image -->
  <div *ngIf="currentArticle.image">
    <label><strong>Image:</strong></label><br>
    <img [src]="'http://localhost:8080/uploads/' + currentArticle.image"
         alt="Article Image"
         style="max-width: 300px; max-height: 300px;">
  </div>

  <div>
    <label><strong>Status:</strong></label>
    {{ currentArticle.published ? "Published" : "Pending" }}
  </div>

  <a class="badge badge-warning" routerLink="/articles/{{ currentArticle.id }}">
    Edit
  </a>
</div>
<p *ngIf="!currentArticle.id">Please click on a Article...</p>
