<div *ngIf="currentTutorial.id">
  <h4>Tutorial</h4>

  <div>
    <label><strong>Title:</strong></label>
    {{ currentTutorial.title }}
  </div>

  <div>
    <label><strong>Description:</strong></label>
    {{ currentTutorial.description }}
  </div>

  <!-- Ajoutez ceci pour afficher l'image -->
  <div *ngIf="currentTutorial.image">
    <label><strong>Image:</strong></label><br>
    <img [src]="'http://localhost:8080/uploads/' + currentTutorial.image"
         alt="Tutorial Image"
         style="max-width: 300px; max-height: 300px;">
  </div>

  <div>
    <label><strong>Status:</strong></label>
    {{ currentTutorial.published ? "Published" : "Pending" }}
  </div>

  <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
    Edit
  </a>
</div>
<p *ngIf="!currentTutorial.id">Please click on a Tutorial...</p>
