/* Navbar en haut avec couleur solide et opacité */
.bg-navbar {
  background-color: rgba(245, 244, 245); /* Couleur définie avec une opacité de 0.8 */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Bordure noire en bas pour la navbar du haut */
.navbar-top {
  border-bottom: 2px solid black;
}

/* Bordure noire en haut pour la navbar du bas */
.navbar-bottom {
  border-top: 2px solid black;
}

/* Couleur de texte noire pour les liens dans la navbar */
.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

/* Couleur de texte noire pour le lien de marque (Showmylife) */
.navbar-brand {
  color: black;
  font-weight: bold;
}

/* Changer la couleur au survol pour les liens */
.navbar-nav .nav-link:hover {
  color: blue;
}

/* Changer la couleur au survol pour le lien de marque */
.navbar-brand:hover {
  color: blue;
}

/* Assurez-vous qu'il y a assez d'espace pour la navbar en bas */
.container {
  padding-bottom: 60px;
}

/* Navbar toujours au-dessus du contenu */
.fixed-bottom {
  z-index: 1030;
}

/* Pour les icônes, appliquer une couleur noire */
.navbar-nav .nav-link div i {
  color: black;
}

/* Pour éviter le scroll, ajustez le corps */
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}
