<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Taper le titre de l'article"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Rechercher
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4 class="text-center">Les articles</h4>
    <ul class="list-group">
      <li
        *ngFor="let article of articles; let i = index"
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveArticle(article, i)"
      >
        {{ article.title }}

        <!-- Afficher les boutons de modification sans condition de rôle -->
        <button
          class="btn btn-warning btn-sm float-right"
          (click)="editArticle(article)"
        >
          Modifier
        </button>
      </li>
    </ul>

    <!-- Afficher les boutons de suppression sans condition de rôle -->
    <button
      class="m-3 btn btn-sm btn-danger"
      (click)="removeAllArticles()"
    >
      Tout supprimer
    </button>

    <button
      class="m-3 btn btn-sm btn-danger"
      (click)="removeArticle(currentArticle.id)"
      [disabled]="currentIndex === -1"
    >
      Supprimer l'article sélectionné
    </button>
  </div>

  <div class="col-md-6">
    <app-article-details
      [viewMode]="true"
      [currentArticle]="currentArticle"
    ></app-article-details>
  </div>
</div>
