<div class="container">
  <h2>Réinitialiser le Mot de Passe</h2>
  <form (ngSubmit)="resetPassword()" [formGroup]="passwordForm">
    <div class="form-group">
      <label for="newPassword">Nouveau Mot de Passe:</label>
      <input
        type="password"
        id="newPassword"
        class="form-control"
        formControlName="newPassword"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmer le Mot de Passe:</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">
      Réinitialiser le Mot de Passe
    </button>
  </form>
  <p *ngIf="passwordMessage">{{ passwordMessage }}</p>
</div>
